.App {
  height: 99vmin;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
}

.column {
  margin: 5vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vmin;
}

button {
  height: 10vmin;
  width: 10vmin;
  border: solid black 3px;
}

.startStopBtn {
  font-size: 6vmin;
  height: 10vmin;
  width: 55vmin;
  margin: 1vmin;
}

.mole {
  background-image: url("https://www.pngkey.com/png/full/102-1024269_mole-hole-cartoon.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.hole {
  background-image: url("https://cdn.wallpapersafari.com/18/59/pHxyrb.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 10vmin;
  width: 10vmin;
  border: solid black 4px;
}

.points {
  margin: 2vmin;
  padding: 1vmin;
  border: dotted green 3px;
  font-size: 4vmin;
}

.countdown {
  font-size: 4vmin;
  margin-bottom: 1.25vmin;
}

.results {
  font-size: 3vmin;
}

.red {
  color: red;
}

.green {
  color: green;
}
